<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <h2>Выбор рубрики издания "Комсомольская правда"</h2>
    <form method="POST" action="/news/">
        <span class="custom-dropdown">
            <select name="cat">
                {{#each newsListOption}}
                <option value="{{ this.catid }}" {{ this.select }}>{{ this.title }}</option>
                {{/each}}
            </select>
        </span>
        <button type="submit">Вывести статьи</button>
    </form>
    <form class="logout" method="POST" action="/auth/logout/">
        <button type="submit">Выйти</button>
    </form>

    <ol class="news-list">
        {{#each newsList}}
        <li>{{ this }}</li>
        {{/each}}
    </ol>

</body>

</html>