<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <h2>Форма регистрации</h2>
    <form class="auth" method="POST" action="/auth/signup/">
        <label>
            Никнейм<br>
            <input type="text" name="username" required="required">
        </label><br>
        <label>
            E-mail<br>
            <input type="email" name="email" required="required">
        </label><br>
        <label>
            Пароль<br>
            <input type="password" name="password" required="required">
        </label><br>
        <input type="hidden" name="catnews" value="0">
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>

</html>