<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <h2>Выбор рубрики издания "Комсомольская правда"</h2>
    <form method="POST" action="/news">
        <span class="custom-dropdown">
            <select name="cat">
                <option value="0">Коронавирус</option>
                <option value="1">Политика</option>
                <option value="2">Экономика</option>
                <option value="3">Спорт</option>
                <option value="4">Общество</option>
                <option value="5">Происшествия</option>
                <option value="6">Здоровье</option>
            </select>
        </span>
        <button type="submit">Вывести статьи</button>
    </form>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>